---
# The styles
---
$font = "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;

html {
  overflow-y: scroll;
}

body {
  background: white;
  font-family: $font;
  padding: 0 5%;
}

.font-std{
  font-family: $font;
}

#all {
  background: white;
  max-width: 900px;
  text-align: left;
  padding: 1.5em;
  margin: 3em auto 1em;
  // box-shadow: 1.5px 1.5px 6px rgba(0, 0, 0, 0.15);
}

/*
#footer { font-size: small; color: black; text-align: right; }
*/
a {
  color: #0096cc;
  text-decoration: none;
}

.nav {
  text-align: right;
  font-weight: 100;
  float: right;
  font-size: medium;
  padding-top: 1em;
  a{
    color: black;
  }
  a:hover { color: black; }
}

.font-monospace{
  font-family: monospace;
}
.font-small{
  font-size: small;
}
.disabled-link { color: #999; }
.active{
  text-decoration: underline;
}

.display-block{
    display: block;
}
.width-100pc{
  width: 100%; 
}
.resize-none{
  resize: none;
}
.border-none{
  border: none;
}
.padding-0{
  padding: 0 0 0 0;
}
.site-title{
  color: black;
  font-weight: 200;
  font-size: x-large;
}

.pagination { font-size: small; }

h1 {
  display: inline;
  font-weight: 200;
}

h2 {
  color: gray;
  font-weight: 200;
}

a { color: #0096cc; text-decoration: none; }

a:hover { color: #007199; }

hr { color: #f5f5f5; background-color: #f5f5f5; height: 5px; border: 0px; }

pre { overflow-x: scroll; }

@media(max-width: 400px){
  .site-title {
    text-align: center;
  }
  .nav{
    float: none;
    padding-top: 1em
    text-align: left;
  }
  h1 { display: inherit;}
  h2 { display: inherit;}
}
