
.title-color-fe4902{text-shadow: 1px -1px #fe4902, 2px -2px #fe4902, 3px -3px #fe4902, 4px -4px #fe4902, 5px -5px #fe4902, 6px -6px #fe4902;}
.title-color-f44336{text-shadow: 1px -1px #f44336, 2px -2px #f44336, 3px -3px #f44336, 4px -4px #f44336, 5px -5px #f44336, 6px -6px #f44336;}
.title-color-e91e63{text-shadow: 1px -1px #e91e63, 2px -2px #e91e63, 3px -3px #e91e63, 4px -4px #e91e63, 5px -5px #e91e63, 6px -6px #e91e63;}
.title-color-9c27b0{text-shadow: 1px -1px #9c27b0, 2px -2px #9c27b0, 3px -3px #9c27b0, 4px -4px #9c27b0, 5px -5px #9c27b0, 6px -6px #9c27b0;}
.title-color-673ab7{text-shadow: 1px -1px #673ab7, 2px -2px #673ab7, 3px -3px #673ab7, 4px -4px #673ab7, 5px -5px #673ab7, 6px -6px #673ab7;}
.title-color-3f51b5{text-shadow: 1px -1px #3f51b5, 2px -2px #3f51b5, 3px -3px #3f51b5, 4px -4px #3f51b5, 5px -5px #3f51b5, 6px -6px #3f51b5;}
.title-color-007199{text-shadow: 1px -1px #007199, 2px -2px #007199, 3px -3px #007199, 4px -4px #007199, 5px -5px #007199, 6px -6px #007199;}
.title-color-4caf50{text-shadow: 1px -1px #4caf50, 2px -2px #4caf50, 3px -3px #4caf50, 4px -4px #4caf50, 5px -5px #4caf50, 6px -6px #4caf50;}
