html {
  overflow-y: scroll;
}
body {
  background: black;
  font-family:"Helvetica",sans-serif;
  font-size: 1.05em;
  padding: 0 5%;
  color: white
}
.date :target {
  background: lightyellow;
  text-decoration: underline;
}
#box{
    max-width: 700px;
    background: #464646;
    max-width: 700px;
    text-align: left;
    padding: 0em 0em 0em 0em;
    margin: 0em auto 0em;
    min-height: 100vh;
    top: 0;
}
#all {
  background: black;
  max-width: 700px;
  text-align: left;
  padding: 1em;
  /*margin: 3em auto 1em;*/
}
#menu-link-home{ display: none; }
a {
  color: #0096cc;
  text-decoration: none;
}
.nav {
  text-align: right;
  font-weight: 100;
  float: right;
  font-size: medium;
}
.nav-item{
    padding: 5px;color:white;font-weight:bold;
}
a.nav-item {  color: white; }
a.nav-item:visited {  color: white;	}
a.nav-item:hover {  color: white;	}
a.nav-item:active { color: white;	}
.font-monospace{ font-family: monospace; }
.font-std      { font-family: $font; }
.font-medium   { font-size: medium; }
.font-small    { font-size: small; }
.font-gray     { color: gray; }
.disabled-link { color: #999; }
.display-block { display: block; }
.width-100pc   { width: 100%; }
.resize-none   { resize: none; }
.border-none   { border: none; }
.padding-0     { padding: 0 0 0 0; }
.site-title{
  color: white;
  font-weight: 600;
  font-size: xx-large; 
  text-shadow: 1px -1px #fe4902, 2px -2px #fe4902, 3px -3px #fe4902;/* 4px -4px #fe4902, 5px -5px #fe4902, 6px -6px #fe4902;*/
}
h1 {
  display: inline;
  font-weight: 200;
}
h2 {
  color: gray;
  font-weight: 200;
}
a { color: #00ffbf; text-decoration: none; }
a:hover { color: #007199; }
hr { color: white; background-color: white; height: 5px; border: 0px; }
pre { overflow-x: scroll; }
.non-mobile-hide{
  display: none;
}
@media(max-width: 500px){
  .site-title {
    text-align: center;
    display: block;
    text-decoration: none;
  }
  .nav{
    text-align: center;
    display: block;
    float: none;
  }
  h1 {
    display: inherit;
  }
  h2 {
    display: inherit;
  }
  .site-title span {
    display: none;
  }
  #menu-link-home{
    display: inline;
  }
  .mobile-display-inline{
    display: inline;
  }
  .mobile-display-block{
    display: block;
  }
  .mobile-display-inherit{
    display: inherit;
  }
}
div, iframe, img{
  max-width: 100%;
}
